# Regular Expression

In [1]:
import re

In [2]:
import regex as re

In [3]:
print(help(re))

Help on package regex:

NAME
    regex - Support for regular expressions (RE).

DESCRIPTION
    This module provides regular expression matching operations similar to those
    found in Perl. It supports both 8-bit and Unicode strings; both the pattern and
    the strings being processed can contain null bytes and characters outside the
    US ASCII range.

    Regular expressions can contain both special and ordinary characters. Most
    ordinary characters, like "A", "a", or "0", are the simplest regular
    expressions; they simply match themselves. You can concatenate ordinary
    characters, so last matches the string 'last'.

    There are a few differences between the old (legacy) behaviour and the new
    (enhanced) behaviour, which are indicated by VERSION0 or VERSION1.

    The special characters are:
        "."                 Matches any character except a newline.
        "^"                 Matches the start of the string.
        "$"                 Matches the end of the string or just before the
                            newline at the end of the string.
        "*"                 Matches 0 or more (greedy) repetitions of the preceding
                            RE. Greedy means that it will match as many repetitions
                            as possible.
        "+"                 Matches 1 or more (greedy) repetitions of the preceding
                            RE.
        "?"                 Matches 0 or 1 (greedy) of the preceding RE.
        *?,+?,??            Non-greedy versions of the previous three special
                            characters.
        *+,++,?+            Possessive versions of the previous three special
                            characters.
        {m,n}               Matches from m to n repetitions of the preceding RE.
        {m,n}?              Non-greedy version of the above.
        {m,n}+              Possessive version of the above.
        {...}               Fuzzy matching constraints.
        "\\"                Either escapes special characters or signals a special
                            sequence.
        [...]               Indicates a set of characters. A "^" as the first
                            character indicates a complementing set.
        "|"                 A|B, creates an RE that will match either A or B.
        (...)               Matches the RE inside the parentheses. The contents are
                            captured and can be retrieved or matched later in the
                            string.
        (?flags-flags)      VERSION1: Sets/clears the flags for the remainder of
                            the group or pattern; VERSION0: Sets the flags for the
                            entire pattern.
        (?:...)             Non-capturing version of regular parentheses.
        (?>...)             Atomic non-capturing version of regular parentheses.
        (?flags-flags:...)  Non-capturing version of regular parentheses with local
                            flags.
        (?P<name>...)       The substring matched by the group is accessible by
                            name.
        (?<name>...)        The substring matched by the group is accessible by
                            name.
        (?P=name)           Matches the text matched earlier by the group named
                            name.
        (?#...)             A comment; ignored.
        (?=...)             Matches if ... matches next, but doesn't consume the
                            string.
        (?!...)             Matches if ... doesn't match next.
        (?<=...)            Matches if preceded by ....
        (?<!...)            Matches if not preceded by ....
        (?(id)yes|no)       Matches yes pattern if group id matched, the (optional)
                            no pattern otherwise.
        (?(DEFINE)...)      If there's no group called "DEFINE", then ... will be
                            ignored, but any group definitions will be available.
        (?|...|...)         (?|A|B), creates an RE that will match either A or B,
                            but reuses capture group numbers across the
                            alternatives.
        (*FAIL)             Forces matching to fail, which means immediate
                            backtracking.
        (*F)                Abbreviation for (*FAIL).
        (*PRUNE)            Discards the current backtracking information. Its
                            effect doesn't extend outside an atomic group or a
                            lookaround.
        (*SKIP)             Similar to (*PRUNE), except that it also sets where in
                            the text the next attempt at matching the entire
                            pattern will start. Its effect doesn't extend outside
                            an atomic group or a lookaround.

    The fuzzy matching constraints are: "i" to permit insertions, "d" to permit
    deletions, "s" to permit substitutions, "e" to permit any of these. Limits are
    optional with "<=" and "<". If any type of error is provided then any type not
    provided is not permitted.

    A cost equation may be provided.

    Examples:
        (?:fuzzy){i<=2}
        (?:fuzzy){i<=1,s<=2,d<=1,1i+1s+1d<3}

    VERSION1: Set operators are supported, and a set can include nested sets. The
    set operators, in order of increasing precedence, are:
        ||  Set union ("x||y" means "x or y").
        ~~  (double tilde) Symmetric set difference ("x~~y" means "x or y, but not
            both").
        &&  Set intersection ("x&&y" means "x and y").
        --  (double dash) Set difference ("x--y" means "x but not y").

    Implicit union, ie, simple juxtaposition like in [ab], has the highest
    precedence.

    VERSION0 and VERSION1:
    The special sequences consist of "\\" and a character from the list below. If
    the ordinary character is not on the list, then the resulting RE will match the
    second character.
        \number         Matches the contents of the group of the same number if
                        number is no more than 2 digits, otherwise the character
                        with the 3-digit octal code.
        \a              Matches the bell character.
        \A              Matches only at the start of the string.
        \b              Matches the empty string, but only at the start or end of a
                        word.
        \B              Matches the empty string, but not at the start or end of a
                        word.
        \d              Matches any decimal digit; equivalent to the set [0-9] when
                        matching a bytestring or a Unicode string with the ASCII
                        flag, or the whole range of Unicode digits when matching a
                        Unicode string.
        \D              Matches any non-digit character; equivalent to [^\d].
        \f              Matches the formfeed character.
        \g<name>        Matches the text matched by the group named name.
        \G              Matches the empty string, but only at the position where
                        the search started.
        \h              Matches horizontal whitespace.
        \K              Keeps only what follows for the entire match.
        \L<name>        Named list. The list is provided as a keyword argument.
        \m              Matches the empty string, but only at the start of a word.
        \M              Matches the empty string, but only at the end of a word.
        \n              Matches the newline character.
        \N{name}        Matches the named character.
        \p{name=value}  Matches the character if its property has the specified
                        value.
        \P{name=value}  Matches the character if its property hasn't the specified
                        value.
        \r              Matches the carriage-return character.
        \s              Matches any whitespace character; equivalent to
                        [ \t\n\r\f\v].
        \S              Matches any non-whitespace character; equivalent to [^\s].
        \t              Matches the tab character.
        \uXXXX          Matches the Unicode codepoint with 4-digit hex code XXXX.
        \UXXXXXXXX      Matches the Unicode codepoint with 8-digit hex code
                        XXXXXXXX.
        \v              Matches the vertical tab character.
        \w              Matches any alphanumeric character; equivalent to
                        [a-zA-Z0-9_] when matching a bytestring or a Unicode string
                        with the ASCII flag, or the whole range of Unicode
                        alphanumeric characters (letters plus digits plus
                        underscore) when matching a Unicode string. With LOCALE, it
                        will match the set [0-9_] plus characters defined as
                        letters for the current locale.
        \W              Matches the complement of \w; equivalent to [^\w].
        \xXX            Matches the character with 2-digit hex code XX.
        \X              Matches a grapheme.
        \Z              Matches only at the end of the string.
        \\              Matches a literal backslash.

    This module exports the following functions:
        match      Match a regular expression pattern at the beginning of a string.
        fullmatch  Match a regular expression pattern against all of a string.
        search     Search a string for the presence of a pattern.
        sub        Substitute occurrences of a pattern found in a string using a
                   template string.
        subf       Substitute occurrences of a pattern found in a string using a
                   format string.
        subn       Same as sub, but also return the number of substitutions made.
        subfn      Same as subf, but also return the number of substitutions made.
        split      Split a string by the occurrences of a pattern. VERSION1: will
                   split at zero-width match; VERSION0: won't split at zero-width
                   match.
        splititer  Return an iterator yielding the parts of a split string.
        findall    Find all occurrences of a pattern in a string.
        finditer   Return an iterator yielding a match object for each match.
        compile    Compile a pattern into a Pattern object.
        purge      Clear the regular expression cache.
        escape     Backslash all non-alphanumerics or special characters in a
                   string.

    Most of the functions support a concurrent parameter: if True, the GIL will be
    released during matching, allowing other Python threads to run concurrently. If
    the string changes during matching, the behaviour is undefined. This parameter
    is not needed when working on the builtin (immutable) string classes.

    Some of the functions in this module take flags as optional parameters. Most of
    these flags can also be set within an RE:
        A   a   ASCII         Make \w, \W, \b, \B, \d, and \D match the
                              corresponding ASCII character categories. Default
                              when matching a bytestring.
        B   b   BESTMATCH     Find the best fuzzy match (default is first).
        D       DEBUG         Print the parsed pattern.
        E   e   ENHANCEMATCH  Attempt to improve the fit after finding the first
                              fuzzy match.
        F   f   FULLCASE      Use full case-folding when performing
                              case-insensitive matching in Unicode.
        I   i   IGNORECASE    Perform case-insensitive matching.
        L   L   LOCALE        Make \w, \W, \b, \B, \d, and \D dependent on the
                              current locale. (One byte per character only.)
        M   m   MULTILINE     "^" matches the beginning of lines (after a newline)
                              as well as the string. "$" matches the end of lines
                              (before a newline) as well as the end of the string.
        P   p   POSIX         Perform POSIX-standard matching (leftmost longest).
        R   r   REVERSE       Searches backwards.
        S   s   DOTALL        "." matches any character at all, including the
                              newline.
        U   u   UNICODE       Make \w, \W, \b, \B, \d, and \D dependent on the
                              Unicode locale. Default when matching a Unicode
                              string.
        V0  V0  VERSION0      Turn on the old legacy behaviour.
        V1  V1  VERSION1      Turn on the new enhanced behaviour. This flag
                              includes the FULLCASE flag.
        W   w   WORD          Make \b and \B work with default Unicode word breaks
                              and make ".", "^" and "$" work with Unicode line
                              breaks.
        X   x   VERBOSE       Ignore whitespace and comments for nicer looking REs.

    This module also defines an exception 'error'.

PACKAGE CONTENTS
    _regex
    _regex_core
    regex
    test_regex

CLASSES
    builtins.Exception(builtins.BaseException)
        regex._regex_core.error
    builtins.object
        _regex.Match
        _regex.Pattern
        regex._regex_core.Scanner
    enum.IntFlag(builtins.int, enum.ReprEnum, enum.Flag)
        regex._regex_core.RegexFlag

    class Match(builtins.object)
     |  Match object
     |
     |  Methods defined here:
     |
     |  __copy__(...)
     |
     |  __deepcopy__(...)
     |
     |  __getitem__(...)
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  captures(...)
     |      captures([group1, ...]) --> list of strings or tuple of list of strings.
     |      Return the captures of one or more subgroups of the match.  If there is a
     |      single argument, the result is a list of strings; if there are multiple
     |      arguments, the result is a tuple of lists with one item per argument; if
     |      there are no arguments, the captures of the whole match is returned.  Group
     |      0 is the whole match.
     |
     |  capturesdict(...)
     |      capturesdict() --> dict.
     |      Return a dictionary containing the captures of all the named subgroups of the
     |      match, keyed by the subgroup name.
     |
     |  detach_string(...)
     |      detach_string()
     |      Detaches the target string from the match object. The 'string' attribute
     |      will become None.
     |
     |  end(...)
     |      end([group1, ...]) --> int or tuple of ints.
     |      Return the index of the end of one or more subgroups of the match.  If there
     |      is a single argument, the result is an index, or -1 if the group did not
     |      contribute to the match; if there are multiple arguments, the result is a
     |      tuple with one item per argument; if there are no arguments, the index of
     |      the end of the whole match is returned.  Group 0 is the whole match.
     |
     |  ends(...)
     |      ends([group1, ...]) --> list of ints or tuple of list of ints.
     |      Return the indices of the ends of the captures of one or more subgroups of
     |      the match.  If there is a single argument, the result is a list of indices;
     |      if there are multiple arguments, the result is a tuple of lists with one
     |      item per argument; if there are no arguments, the indices of the ends of the
     |      captures of the whole match is returned.  Group 0 is the whole match.
     |
     |  expand(...)
     |      expand(template) --> string.
     |      Return the string obtained by doing backslash substitution on the template,
     |      as done by the sub() method.
     |
     |  expandf(...)
     |      expandf(format) --> string.
     |      Return the string obtained by using the format, as done by the subf()
     |      method.
     |
     |  group(...)
     |      group([group1, ...]) --> string or tuple of strings.
     |      Return one or more subgroups of the match.  If there is a single argument,
     |      the result is a single string, or None if the group did not contribute to
     |      the match; if there are multiple arguments, the result is a tuple with one
     |      item per argument; if there are no arguments, the whole match is returned.
     |      Group 0 is the whole match.
     |
     |  groupdict(...)
     |      groupdict(default=None) --> dict.
     |      Return a dictionary containing all the named subgroups of the match, keyed
     |      by the subgroup name.  The argument is the value to be given for groups that
     |      did not participate in the match.
     |
     |  groups(...)
     |      groups(default=None) --> tuple of strings.
     |      Return a tuple containing all the subgroups of the match.  The argument is
     |      the default for groups that did not participate in the match.
     |
     |  span(...)
     |      span([group1, ...]) --> 2-tuple of int or tuple of 2-tuple of ints.
     |      Return the span (a 2-tuple of the indices of the start and end) of one or
     |      more subgroups of the match.  If there is a single argument, the result is a
     |      span, or (-1, -1) if the group did not contribute to the match; if there are
     |      multiple arguments, the result is a tuple with one item per argument; if
     |      there are no arguments, the span of the whole match is returned.  Group 0 is
     |      the whole match.
     |
     |  spans(...)
     |      spans([group1, ...]) --> list of 2-tuple of ints or tuple of list of 2-tuple of ints.
     |      Return the spans (a 2-tuple of the indices of the start and end) of the
     |      captures of one or more subgroups of the match.  If there is a single
     |      argument, the result is a list of spans; if there are multiple arguments,
     |      the result is a tuple of lists with one item per argument; if there are no
     |      arguments, the spans of the captures of the whole match is returned.  Group
     |      0 is the whole match.
     |
     |  start(...)
     |      start([group1, ...]) --> int or tuple of ints.
     |      Return the index of the start of one or more subgroups of the match.  If
     |      there is a single argument, the result is an index, or -1 if the group did
     |      not contribute to the match; if there are multiple arguments, the result is
     |      a tuple with one item per argument; if there are no arguments, the index of
     |      the start of the whole match is returned.  Group 0 is the whole match.
     |
     |  starts(...)
     |      starts([group1, ...]) --> list of ints or tuple of list of ints.
     |      Return the indices of the starts of the captures of one or more subgroups of
     |      the match.  If there is a single argument, the result is a list of indices;
     |      if there are multiple arguments, the result is a tuple of lists with one
     |      item per argument; if there are no arguments, the indices of the starts of
     |      the captures of the whole match is returned.  Group 0 is the whole match.
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  __class_getitem__(...) from builtins.type
     |      See PEP 585
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  endpos
     |      The final position beyond which the regex engine won't search.
     |
     |  fuzzy_changes
     |      A tuple of the positions of the substitutions, insertions and deletions.
     |
     |  fuzzy_counts
     |      A tuple of the number of substitutions, insertions and deletions.
     |
     |  lastgroup
     |      The name of the last matched capturing group, or None.
     |

In [4]:
# function of regex model
for i in dir(re):
    print(i,end=" , ")

A , ASCII , B , BESTMATCH , D , DEBUG , DEFAULT_VERSION , DOTALL , E , ENHANCEMATCH , F , FULLCASE , I , IGNORECASE , L , LOCALE , M , MULTILINE , Match , P , POSIX , Pattern , R , REVERSE , Regex , RegexFlag , S , Scanner , T , TEMPLATE , U , UNICODE , V0 , V1 , VERBOSE , VERSION0 , VERSION1 , W , WORD , X , __all__ , __builtins__ , __cached__ , __doc__ , __file__ , __loader__ , __name__ , __package__ , __path__ , __spec__ , __version__ , _regex , _regex_core , cache_all , compile , error , escape , findall , finditer , fullmatch , match , purge , regex , search , split , splititer , sub , subf , subfn , subn , template ,

In [5]:
print(len(dir(re)))

71

In [6]:
# caret symbol performe addtion og binary no.
#0000
#8421
#2-0010
#3-0011
#+ 0001 so here no.s of it 8421 so out is 1
2^3

1

In [7]:
"data"*3

'datadatadata'

# 1. re.findall function

In [8]:
pattern="data Science|Data Science"
text="Data Science is a stream and it is a part of AI. You can solve many complex problems using data Science tools and techs"
matches=re.findall(pattern,text)
print(matches)

['Data Science', 'data Science']

In [9]:
pattern="daTa Science|Data Science"
text="Data Science is a stream and it is a part of AI. You can solve many complex problems using data Science tools and techs"
matches=re.findall(pattern,text)
print(matches)
#here 1 condition only matchs

['Data Science']

In [10]:
# here we are given 4 contion pattern="daTa Science|Data Science"
# so here pattern matching more than 1 time it will give all the output
pattern="Data Science|stream|tools|AI"
text="Data Science is a stream and it is a part of AI. You can solve many complex problems using Data Science tools and techs"
matches=re.findall(pattern,text)
print(matches)
#here 1 condition only matchs

['Data Science', 'stream', 'AI', 'Data Science', 'tools']

# Extracting digits from the string

In [11]:
text= "there are 4 123  aplles and 4567 oranges"
pattern='\d+'
matches=re.findall(pattern,text)
print(matches)
# + is ussed for 1 or m ore occurances

#OR

# or we can fetch like this also
text= "there are 4 123  aplles and 4567 oranges"
pattern="[0-9]+"
matches=re.findall(pattern,text)
print(matches)

['4', '123', '4567']
['4', '123', '4567']

In [12]:
text= "there are 4 123  aplles and 4567 oranges"
pattern='\d'
matches=re.findall(pattern,text)
print(matches)
          
             #OR
text= "there are 4 123  aplles and 4567 oranges"
pattern="[0-9]"
matches=re.findall(pattern,text)
print(matches)

['4', '1', '2', '3', '4', '5', '6', '7']
['4', '1', '2', '3', '4', '5', '6', '7']

In [13]:
text= "there are 4 123  aplles and 4567 oranges. @#"
pattern='\D+'
matches=re.findall(pattern,text)
print(matches)
#except digit it fetch all string by using \D+
#here white space also string thats why fetch it

['there are ', ' ', '  aplles and ', ' oranges. @#']

In [14]:
text= "there are 4 123  aplles and 4567 oranges. @#"
pattern='\D'
matches=re.findall(pattern,text)
print(matches)
#except digit it fetch all string also fetch white space by using \D+

['t', 'h', 'e', 'r', 'e', ' ', 'a', 'r', 'e', ' ', ' ', ' ', ' ', 'a', 'p', 'l', 'l', 'e', 's', ' ', 'a', 'n', 'd', ' ', ' ', 'o', 'r', 'a', 'n', 'g', 'e', 's', '.', ' ', '@', '#']

In [15]:
text= "there are 4 123  aplles and 4567 oranges"
pattern='123|456'
matches=re.findall(pattern,text)
print(matches)

['123', '456']

In [16]:
# or we can fetch like this also
text= "abc001234xyz#456_0"
pattern="[0-9]+"
matches=re.findall(pattern,text)
print(matches)


          #OR

text= "abc001234xyz#456_0"
pattern="\d+"
matches=re.findall(pattern,text)
print(matches)

['001234', '456', '0']
['001234', '456', '0']

In [17]:
text= "abc001234xyz#456_0"
pattern="\d+"
matches=re.findall(pattern,text)
print(matches)

['001234', '456', '0']

In [18]:
text= "abc001234xyz#456_0"
pattern="[a-z]+"
matches=re.findall(pattern,text)
print(matches)

['abc', 'xyz']

In [19]:
text= "abc001234xyz#456_0XYZ"
pattern="[A-Z]+"
matches=re.findall(pattern,text)
print(matches)

['XYZ']

In [20]:
text= "abc001234xyz#456_0XYZ"
pattern="\a"
matches=re.findall(pattern,text)
print(matches)

[]

# Extracting digits from the list of string

In [21]:
price=['Apple cost Rs 50',"Rs 60 for each pineapple 120 ","Rs 150 per watermelon" ]
for msg in price:
    matches=re.findall('\d',msg)
    print("\d",matches)
    
    
for msg in price:
    matches=re.findall('\d+',msg)
    print("\d+",matches)

\d ['5', '0']
\d ['6', '0', '1', '2', '0']
\d ['1', '5', '0']
\d+ ['50']
\d+ ['60', '120']
\d+ ['150']

In [22]:
price=['Apple cost Rs 50',"Rs 60 for each pineapple 120 ","Rs 150 per watermelon" ]
for msg in price:
    matches=re.findall('\D',msg)
    print("\D",matches)
    
    
for msg in price:
    matches=re.findall('\D+',msg)
    print("\D+",matches)

\D ['A', 'p', 'p', 'l', 'e', ' ', 'c', 'o', 's', 't', ' ', 'R', 's', ' ']
\D ['R', 's', ' ', ' ', 'f', 'o', 'r', ' ', 'e', 'a', 'c', 'h', ' ', 'p', 'i', 'n', 'e', 'a', 'p', 'p', 'l', 'e', ' ', ' ']
\D ['R', 's', ' ', ' ', 'p', 'e', 'r', ' ', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']
\D+ ['Apple cost Rs ']
\D+ ['Rs ', ' for each pineapple ', ' ']
\D+ ['Rs ', ' per watermelon']

In [23]:
target_string="APJ abdul kalam was an Indian aerospace scientist also known as the Missile12345 Man of India"
result=re.findall(r"\w{6}",target_string)
print("Match Object:",result)
# here means i want fetch out 6 words \w is used for fetch all characters &{} use for give no.reputative occurances'
# so here fetch out 6 occurance word character

Match Object: ['Indian', 'aerosp', 'scient', 'Missil', 'e12345']

In [24]:
target_string="APJ abdul kalam was an Indian aerospace scientist also known as the Missile12345 Man of India"
result=re.findall(r"\w{4}",target_string)
print("Match Object:",result)
#its fetching ou 4 words character of occurancess

Match Object: ['abdu', 'kala', 'Indi', 'aero', 'spac', 'scie', 'ntis', 'also', 'know', 'Miss', 'ile1', '2345', 'Indi']

In [25]:
target_string="APJ abdul kalam was an Indian aerospace scientist also known as the Missile12345 Man of India"
result=re.findall(r"\w{4,6}",target_string)
print("Match Object:",result)
# \w{4,6} it means we take range to fetching out words characters of occurances between 4 to 6 occurances

Match Object: ['abdul', 'kalam', 'Indian', 'aerosp', 'scient', 'also', 'known', 'Missil', 'e12345', 'India']

# Extracting string which begin with a and ends with J or string begins with A ans ends l from the given string

In [26]:
string="AP12ik@J Abdu12_*1 kalam was an Indian aerospace scientist also known as the Missile Man of India"
pattern= 'A[a-zA-Z0-9@]+J|A[\w*]+1'
result=re.findall(pattern,string)
print(result)

['AP12ik@J', 'Abdu12_*1']

# 2. Split Function

In [27]:
string='Twelve:12 Eighty nine:89.'
pattern="\d+"
result=re.split(pattern,string)
result
#here split after digit

['Twelve:', ' Eighty nine:', '.']

In [28]:
string='Twelve :12 Eighty nine : 89'
pattern="\d+"
result=re.split(pattern,string,1)
result
#here after 12 it is devided but 89 not devided becz we are passed here restriction 1 thats why its split 1 occurence where pattern match

['Twelve :', ' Eighty nine : 89']

In [29]:
string='Twelve :12 Eighty nine : 89'
pattern="\d+"
result=re.split(pattern,string,2)
result

['Twelve :', ' Eighty nine : ', '']

In [30]:
# split each white space character (\s is split by space)
text='India is a beutiful country'
x=re.split('\s',text)
print(x)

text='India is a beutiful country'
x=re.split('\s',text,3)
print(x)

text='India is a beutiful country'
x=re.split('\s',text,2)
print(x)

['India', 'is', 'a', 'beutiful', 'country']
['India', 'is', 'a', 'beutiful country']
['India', 'is', 'a beutiful country']

In [31]:
#split by position
split_by_position="How is this Posible Data Science python"
x=re.split("\s",split_by_position,3)
print(x)

['How', 'is', 'this', 'Posible Data Science python']

In [32]:
#split string by the delimeters
target_string="12,45+78,85-17,89:45"
x=re.split("-|,|:",target_string)
print(x)

['12', '45+78', '85', '17', '89', '45']

In [33]:
target_string="12,45+78,85-17,89:45"
x=re.split("-|,|:",target_string)
print(x)

['12', '45+78', '85', '17', '89', '45']

In [34]:
target_string="12,45+78,85-17,89:45 How is this Posible"
x=re.split("\D+",target_string)
print(x)

['12', '45', '78', '85', '17', '89', '45', '']

# limit the no. Split

In [35]:
t="12-45+78"
result=re.split("\D",t,maxsplit=1)
#split only on the 1st occurence 
print(result)

['12', '45+78']

In [36]:
t="12-45+78"
result=re.split("\D",t,maxsplit=2)
#split only on the 1st occurence 
print(result)

['12', '45', '78']

# 3.Sub Function

In [37]:
sub_="This function replace spaces by assigned char"
x=re.sub("\s","++",sub_,)
print(x)

This++function++replace++spaces++by++assigned++char

In [38]:
y='Rs'
text=" This Iteam costs Rs 2500 and rs 3000"
replace_text=re.sub(y,"$",text)
print(replace_text)
        
    #OR we can write
    
text=" This Iteam costs Rs 2500 and rs 3000"
replace_text=re.sub("Rs|rs","$",text)
print(replace_text)

 This Iteam costs $ 2500 and rs 3000
 This Iteam costs $ 2500 and $ 3000

In [39]:
text=" This Iteam costs Rs 2500 and rs 3000"
replace_text=re.sub("Rs","$",text,flags=re.IGNORECASE)
print(replace_text)
#re.IGNORECASE it means ignore case sensetiveness

 This Iteam costs $ 2500 and $ 3000

In [40]:
target_string="APJ   abdul kalam was    an Indian aerospace scientist also known as the Missile12345 Man of India"
result=re.sub("\s+","",target_string)
print("Match Object:",result)


target_string="APJ   abdul kalam was    an Indian aerospace scientist also known as the Missile12345 Man of India"
result=re.sub("\s","",target_string)
print("Match Object \s:",result)

Match Object: APJabdulkalamwasanIndianaerospacescientistalsoknownastheMissile12345ManofIndia
Match Object \s: APJabdulkalamwasanIndianaerospacescientistalsoknownastheMissile12345ManofIndia

In [41]:
target_string="   APJ   abdul kalam was    an Indian aerospace scientist also known as the Missile12345 Man of India  "
print(target_string)
result=re.sub("\s+"," ",target_string)
print(result)

target_string="   APJ   abdul kalam was    an Indian aerospace scientist also known as the Missile12345 Man of India  "
print(target_string)
result=re.sub("\s+$","",target_string)
print(result)
#here space remove at the end

   APJ   abdul kalam was    an Indian aerospace scientist also known as the Missile12345 Man of India
 APJ abdul kalam was an Indian aerospace scientist also known as the Missile12345 Man of India
   APJ   abdul kalam was    an Indian aerospace scientist also known as the Missile12345 Man of India
   APJ   abdul kalam was    an Indian aerospace scientist also known as the Missile12345 Man of India

In [42]:
target_string="   APJ abdul kalam was an Indian aerospace scientist also known as the Missile12345 Man of India"
result=re.sub(r"India$"," ",target_string)
print(result)
#here replace last india with space by $


target_string="   APJ abdul kalam was an Indian aerospace scientist also known as the Missile12345 Man of India"
result=re.sub(r"^\s+","",target_string)
print(result)
#here remove starting space

   APJ abdul kalam was an Indian aerospace scientist also known as the Missile12345 Man of
APJ abdul kalam was an Indian aerospace scientist also known as the Missile12345 Man of India

In [43]:
substitute=re.sub(r"[0-9]+",r"*","abc000123xyz456_0")
print(substitute)
#here no. replace with start

abc*xyz*_*

# 4.Subn()

In [44]:
# here i will count how many times value replace it will shaw no.s
substitute=re.subn(r"[0-9]+",r"*","abc000123xyz456_0")
print(substitute)
# so here 3 time replace value

substitute=re.subn(r"[0-9]+",r"*","abc000123xyz456_0#56@0")
print(substitute)
#here 5 times replace

('abc*xyz*_*', 3)
('abc*xyz*_*#*@*', 5)

# match Object function

In [45]:
target_string="2024 virat is a cricket player1988 who has born on November 5,1988"
result=re.match(r"\d{4}",target_string)
print(result)
#so here fetch starting string sapan show Index of given pattern 0 to 4 nad match give the value which we given input


#OR
target_string="virat is a cricket player1988 who has born on November 5,1988"
result=re.match(r"\d{4}",target_string)
print(result)
# now it return None because in the starting there is no any digit value


target_string="virat is a cricket player1988 who has born on November 5,1988"
result=re.match(r"\D{4}",target_string)
print(result)

target_string="2024 virat is a cricket player1988 who has born on November 5,1988"
result=re.findall(r"\d{4}",target_string)
print(result)
#findall fetch all values of the given pattern but re.match it will return only begging string value if this match not match then will give None

<regex.Match object; span=(0, 4), match='2024'>
None
<regex.Match object; span=(0, 4), match='vira'>
['2024', '1988', '1988']

In [46]:
string='123abc is the alphanumeric number'
result=re.match("\w+",string)
print(result)

<regex.Match object; span=(0, 6), match='123abc'>

In [47]:
target_string="virat is a cricket player1988 who has born on November 5,1988"
result=re.match(r"\w{4}",target_string)
print(result)



target_string="virat is a cricket player1988 who has born on November 5,1988"
result=re.match(r"\w{6}",target_string)
print(result)
#here we want to fetch 6 occurances but there is only 4 woprds character space is not the words character to it return noe

<regex.Match object; span=(0, 4), match='vira'>
None

In [48]:
string='123abc is the alphanumeric number'
result=re.match(".+",string)
print(result)
# it mean . extract can anything except newline character + use for continues occurancess
#so it return all

#OR

string='123abc is the alphanumeric #@ \n number'
result=re.match(".+",string)
print(result)
#here return all but \n is newline character so it not return number

<regex.Match object; span=(0, 33), match='123abc is the alphanumeric number'>
<regex.Match object; span=(0, 30), match='123abc is the alphanumeric #@ '>

# seach() methods

In [49]:
msges=['Banana are not only veru delicious pieces of fruit',
       'they are also supper healthy',
       'Eating two bananas a day can do wonders for you health',
      'banana for example. but did ypu ever think of sticking a needle into a banana? Probably not,',
      'but you should, because its supper handy']
for msg in msges:
    result=re.search('banana',msg)
    print(result)
#here 1st and 2nd string banana is not present so it gives None but in 3rd here bana present 2 imes but it retyrn 1 times 
#and show index also but in findall method it will return all

#OR 

msges=['Banana are not only veru delicious pieces of fruit',
       'they are also supper healthy',
       'Eating two bananas a day can do wonders for you health',
      'banana for example. but did ypu ever think of sticking a needle into a banana? Probably not,',
      'but you should, because its supper handy']
for msg in msges:
    result=re.findall('banana',msg)
    print("findall",result)

None
None
<regex.Match object; span=(11, 17), match='banana'>
<regex.Match object; span=(0, 6), match='banana'>
None
findall []
findall []
findall ['banana']
findall ['banana', 'banana']
findall []

In [50]:
msg1="this product is really  great"
search=re.search("^this.*great$",msg1)
print(search)
# here ^ represent starting string that is this and . means it can extract anything except the newline and star means 
# repeatation and $ ends this great. it means from the start it will extract anything also ends

msg1="this product is really  great great"
search=re.search("^this.*great$",msg1)
print(search)

<regex.Match object; span=(0, 29), match='this product is really  great'>
<regex.Match object; span=(0, 35), match='this product is really  great great'>

# Group() method

In [51]:
string="Rohit Sharna has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career"
result=re.search(r"(\b\d+).+(\b[A-Z]+\b).+(\b\d+).+(\b[A-Z]+\b)",string)
print(result.groups()) # exctracting matching values of all group
print(result.group(1))# extract match value of group 1
print(result.group(2,3))# extract match value of group 2 and group 3

('43', 'CENTURIES', '91', 'HALFCENTURIES')
43
('CENTURIES', '91')

In [52]:
string="Rohit Sharna has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career"
result=re.search(r"(\b\d+).+(\b[A-Z]+\b).+(\b\d+).+(\b[A-Z]+\b)",string)
print(result.groups())

('43', 'CENTURIES', '91', 'HALFCENTURIES')

In [53]:
print(result.group(1))

43

In [54]:
print(result.group(2,3))

('CENTURIES', '91')

In [55]:
string="Rohit Sharna has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career"
result=re.search(r"(\b\d+)",string)
print(result)
                 
print(result.groups())

<regex.Match object; span=(24, 26), match='43'>
('43',)

# Regex capture group multiple times

In [56]:
string="Rohit Sharna has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career"
pattern=re.compile(r"(\b\d+\b).(\b[A-Z]+\b)")
# find all matches to group
for match1 in pattern.finditer(string):
    print(match1.group())
    #extract number

43 CENTURIES
91 HALFCENTURIES

# re.compiler() method
it mean not need to written pattern again and agaion we can creat once and stored in vriable then we can use same pattern for diffrent string
#pattern=re.compile(r"(\b\d+\b).(\b[A-Z]+\b)") like this

In [57]:
string="""Chandrayaan-3 is a follow on mission to chandrayaan-2 to demonstrate end-to-end capability in safe landing and removing on the lunar surface.
It consist of lander and Rover configuration.It will be launched by LVM3 from SDSC SHAR,Sriharikota.
The propulsion module will carry the lander and rover configuration till 1020 km lunar orbit.
the propulsion module has Spectro-polarimetry of Habitable Planet Earth (SHAPE) p[ayload to study the spectral and polari metric measurement of Earth from lunar"""
 # pattern to find three consecutive digit
string_pattern=r"\d{4}"
print(type(string_pattern))

# compile string pattern to re.pattern object
regex_pattern = re.compile(string_pattern)

# print the type of compile pattern
print(type(regex_pattern),"\n")

# find all the matches in string one   
result=regex_pattern.findall(string)
print(result)

<class 'str'>
<class '_regex.Pattern'>

['1020']

In [58]:
target_string="Emma is a basketball player who was born on june 17, 1993.she played 1122 matches with a scoring average of 26.12 points per game. her weight is 5 kg ."
result=regex_pattern.findall(target_string)
print(result)
#use here same re.pattern
# or
text="Emma is a basketball player who was born on june 17, 1993.she played 1122 matches with a scoring average of 26.12 points per game. her weight is 5 kg ."
pattern="\d{4}"
matches=re.findall(pattern,text)
print(matches)

['1993', '1122']
['1993', '1122']

In the code abovce-
1.the re.compile method changed the string pattern into a re.pattern object that we can work upon 
2. next we ussed the re pattern object inside a re.findall() to obtaind all the positive matches of any 4 consecutive digits inside
the target string
NOW the same regex_pattern object can be ussedsimilarly for searching for 4 consecutive digits in other target strings as well.
for eg

In [59]:
target_string= "the fourth orbit -raising maneuver(Earth-bound perigee firing) is completed the spacecraft is now in a 71351 km x 233 km orbit."
result1=regex_pattern.findall(target_string)
print(result1)

['7135']

# finditer()

In [60]:
string="Rohit Sharna has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career"
pattern=re.compile(r"(\b\d+\b).(\b[A-Z]+\b)")
# find all matches to group
for match1 in pattern.finditer(string):
    print(match1.group())
# here we do not need to write same method again and again if we are ussing finditer method after re.comple method because here change 
#patten in re.pattern so by finditer it will itrate again again fetch so itr will match give output
#here we can use findall method al;so becz it will give the all occurances

43 CENTURIES
91 HALFCENTURIES

In [61]:
string="Rohit Sharna has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career"
pattern=re.compile(r"(\b\d+\b).(\b[A-Z]+\b)")
# find all matches to group
for match1 in pattern.finditer(string):
    print(match1)
    print(match1.group())

<regex.Match object; span=(24, 36), match='43 CENTURIES'>
43 CENTURIES
<regex.Match object; span=(41, 57), match='91 HALFCENTURIES'>
91 HALFCENTURIES

In [62]:
string="Rohit Sharna has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career"
pattern=re.compile(r"(\b\d+\b).(\b[A-Z]+\b)")
iter=pattern.finditer(string)
# find all matches to group
for match1 in iter:
    print(match1.group())
    #extract numbers
    #print(match1.group(2))

43 CENTURIES
91 HALFCENTURIES

In [63]:
target_string="Emma is a basketball player who was born on june 17, 1993.she played 1122 matches with a scoring average of 26.12 points per game. her weight is 5 kg ."
string_pattern=r"\d{4}"
# compile string pattern to re.pattern object
regex_pattern = re.compile(string_pattern)

result=regex_pattern.findall(target_string)
print(result)

['1993', '1122']

In [64]:
string="Rohit Sharna has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career"
pattern=re.compile(r"(\b\d+\b).(\b[A-Z]+\b)")
iter=pattern.finditer(string)
for matches in iter:
    print(matches.group())

43 CENTURIES
91 HALFCENTURIES

In [65]:
target_string="Emma is a basketball player who was born on june 17, 1993.she played 1122 matches with a scoring average of 26.12 points per game. her weight is 5 kg ."
#finditer wioth regex pattern and target string
result=re.finditer(r"player|played",target_string)
#print each re.match object
for match_object in result:
    print(match_object)
    #extract each matching number
    print(match_object.group())

<regex.Match object; span=(21, 27), match='player'>
player
<regex.Match object; span=(62, 68), match='played'>
played

In [66]:
superRegex=re.compile(r'Super(data)*man')
match_obj=superRegex.search("The Advantures of Superdatadatadataman")
print(match_obj)

<regex.Match object; span=(18, 38), match='Superdatadatadataman'>

# Remove all consecutive duplicates words

In [67]:
string1="Ram went went to his home"
regex=r'\b(\w+)(?:\W+\1\b)+'
x=re.sub(regex,r'\1',string1)
print(x)
#\1 is ussed whenever match in 1st group then that not match again in second group

Ram went to his home

# Extract URL from text
#open method()

In [68]:
with open("/content/url_related.txt") as file:
    for line in file:
        urls= re.findall('https?://(?:[-\w.]|(?:%[\da-zA-Z0-9]{2}))+',line)
        print(urls)

FileNotFoundError: [Errno 2] No such file or directory: '/content/url_related.txt'

In [70]:
import pandas as pd
import regex as re

In [71]:
df=pd.DataFrame({'City':['New york','parague','new delhi','Venice','new Orleans'],
                'Event':['Music','Poetry','theater','Comedy','Tech_Summit'],
                'Cost':[10000,5000,15000,2000,12000]})
df

          City        Event   Cost
0     New york        Music  10000
1      parague       Poetry   5000
2    new delhi      theater  15000
3       Venice       Comedy   2000
4  new Orleans  Tech_Summit  12000

In [72]:
#here i want to find out that city which start with N
df['City'].str.contains('^N.*',case=False)
#here false means there is no case sensitive

0     True
1    False
2     True
3    False
4     True
Name: City, dtype: bool

In [73]:
df['City'].str.contains('^N.*',case=True)

0     True
1    False
2    False
3    False
4    False
Name: City, dtype: bool

In [74]:
df[df['City'].str.contains('^N.*',case=False)==True]
#here i want fetch all detail which city start with N or n

          City        Event   Cost
0     New york        Music  10000
2    new delhi      theater  15000
4  new Orleans  Tech_Summit  12000

In [75]:
import numpy as np
import pandas as pd

In [76]:
dft=pd.read_csv('titan_data.csv')
dft

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# str.contains()

In [77]:
#filtering a dataframe -s.str.contains(pattern)
pattern=r'C\.?A\.?'
mask=dft['Ticket'].str.contains(pattern)
dft[mask].head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.500,NaN,S
56,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.500,NaN,S
58,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.750,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.900,NaN,S
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.500,F33,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.500,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.900,NaN,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.575,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.750,NaN,S

In [86]:
# hear find out name start with W followed by 0 or more accurance end with n character?
pattern=r'W\.?n\.?'
mask=dft['Name'].str.contains(pattern)
dft[mask].head(3)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [89]:
# hear find out name start with W followed by 0 or more accurance end with n character?
pattern=r'W\.?n\.?'pattern = r'^W.*n$'
mask=dft['Name'].str.contains(pattern)
dft[mask].head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
123,124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0000,E101,S
515,516,0,1,"Walker, Mr. William Anderson",male,47.0,0,0,36967,34.0208,D46,S
694,695,0,1,"Weir, Col. John",male,60.0,0,0,113800,26.5500,NaN,S

#if i findout some group as column names for each subject whenever we are giving information working as the search method 
whenever passing that so fetch out
if i asked create a new columns in dft based on some condition in that case we use this.

In [79]:
dft['Name'].sample(5)

265                               Reeves, Mr. David
874           Abelson, Mrs. Samuel (Hannah Wizosky)
559    de Messemaeker, Mrs. Guillaume Joseph (Emma)
450                           West, Mr. Edwy Arthur
826                                    Lam, Mr. Len
Name: Name, dtype: object

# str.extract()

In [80]:
#i want extract all unique title from pasanger names then
pattern='\s(\w+)\.'
all_its=dft['Name'].str.extract(pattern,expand=False)
unique_its=all_its.value_counts()
unique_its

Name
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: count, dtype: int64

In [81]:
pat=r'(w\+),\s(\w+\.\s\w+.*)'
dft_names=dft['Name'].str.extract(pat,flags=re.I)
dft_names

       0    1
0    NaN  NaN
1    NaN  NaN
2    NaN  NaN
3    NaN  NaN
4    NaN  NaN
..   ...  ...
886  NaN  NaN
887  NaN  NaN
888  NaN  NaN
889  NaN  NaN
890  NaN  NaN

[891 rows x 2 columns]

# str.replace()

In [84]:
#replace all titles with capital later

In [83]:
patrn=r'\s(\w+)\.'
dft['Name'].str.replace(patrn,lambda m:m.group().upper(),regex=True)

0                                Braund, MR. Owen Harris
1      Cumings, MRS. John Bradley (Florence Briggs Th...
2                                 Heikkinen, MISS. Laina
3           Futrelle, MRS. Jacques Heath (Lily May Peel)
4                               Allen, MR. William Henry
                             ...
886                                Montvila, REV. Juozas
887                         Graham, MISS. Margaret Edith
888             Johnston, MISS. Catherine Helen "Carrie"
889                                Behr, MR. Karl Howell
890                                  Dooley, MR. Patrick
Name: Name, Length: 891, dtype: object

In [87]:
x= "Regular\tExpressions\nRegEx"

print(x)

Regular	Expressions
RegEx

In [88]:
y= r"Regular\tExpressions\nRegEx"

print(y)

Regular\tExpressions\nRegEx