# Web scraping using Selenium

In [1]:
#pip install selenium

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

import time
import pandas as pd

In [3]:
driver = webdriver.Chrome()

In [4]:
# opening the naukri page on automated chrome browser
driver.get('https://www.naukri.com')

In [5]:
# entering designation and location as requered in questions
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
#as per the questions
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [29]:
# scrapping job title from, the given page 
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
#print(job_title)

# scrapping job location  from, the given page 
location=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for a in location:
    loc=a.text
    job_location.append(loc)
#print(job_location)

# scrapping company name from, the given page
company=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for b in company:
    company_tags=b.text
    company_name.append(company_tags)
#print(company_name)

# scrapping experience required from, the given page
expr=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in expr:
    experience=i.text
    experience_required.append(experience)
print(experience_required)

['4-6 Yrs', '2-6 Yrs', '4-7 Yrs', '0-3 Yrs', '4-8 Yrs', '0-4 Yrs', '0-5 Yrs', '0-5 Yrs', '3-8 Yrs', '5-6 Yrs', '3-8 Yrs', '8-12 Yrs', '2-7 Yrs', '3-7 Yrs', '9-14 Yrs', '3-5 Yrs', '2-6 Yrs', '3-6 Yrs', '4-9 Yrs', '4-6 Yrs', '2-6 Yrs', '4-7 Yrs', '0-3 Yrs', '4-8 Yrs', '0-4 Yrs', '0-5 Yrs', '0-5 Yrs', '3-8 Yrs', '5-6 Yrs', '3-8 Yrs', '8-12 Yrs', '2-7 Yrs', '3-7 Yrs', '9-14 Yrs', '3-5 Yrs', '2-6 Yrs', '3-6 Yrs', '4-9 Yrs', '4-6 Yrs', '2-6 Yrs', '4-7 Yrs', '0-3 Yrs', '4-8 Yrs', '0-4 Yrs', '0-5 Yrs', '0-5 Yrs', '3-8 Yrs', '5-6 Yrs', '3-8 Yrs', '8-12 Yrs', '2-7 Yrs', '3-7 Yrs', '9-14 Yrs', '3-5 Yrs', '2-6 Yrs', '3-6 Yrs', '4-9 Yrs', '4-6 Yrs', '2-6 Yrs', '4-7 Yrs', '0-3 Yrs', '4-8 Yrs', '0-4 Yrs', '0-5 Yrs', '0-5 Yrs', '3-8 Yrs', '5-6 Yrs', '3-8 Yrs', '8-12 Yrs', '2-7 Yrs', '3-7 Yrs', '9-14 Yrs', '3-5 Yrs', '2-6 Yrs', '3-6 Yrs', '4-9 Yrs', '4-6 Yrs', '2-6 Yrs', '4-7 Yrs', '0-3 Yrs', '4-8 Yrs', '0-4 Yrs', '0-5 Yrs', '0-5 Yrs', '3-8 Yrs', '5-6 Yrs', '3-8 Yrs', '8-12 Yrs', '2-7 Yrs', '3-7 Yrs', '9-14 Yrs', '3-5 Yrs', '2-6 Yrs', '3-6 Yrs', '4-9 Yrs']

In [30]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

133 100 100 95

In [32]:
job_df=pd.DataFrame({"Job Title":job_title[:20],"Job Location":job_location[:20],"Company Name":company_name[:20],"Experience Required":experience_required[:20]})
job_df

,Job Title,Job Location,Company Name,Experience Required
0,IAM DATA SCIENTIST /ANALYST,Bengaluru,Iote Technologies,4-6 Yrs
1,Tag Implementation Analyst - 1st Party Data,Bengaluru,Eli Lilly And Company,2-6 Yrs
2,Data Privacy Analyst,"Mumbai, Bengaluru",Quantiphi Analytics Solutions,4-7 Yrs
3,Quantitative Analyst / Data Scientist,Bengaluru,Bestex Research,0-3 Yrs
4,Data Analyst - Business Intelligence,Hybrid - Bangalore Rural,Allegis Group (Aston Carter),4-8 Yrs
5,Associate-Data Analyst (Cost Optimisation),"Bangalore Rural, Delhi / NCR",Delhivery,0-4 Yrs
6,Walk-in Fresher's For -MIS /Data Analyst/Speci...,Bengaluru,Infineon,0-5 Yrs
7,Walk-in Fresher's For -MIS /Data Analyst/Speci...,"Bangalore Rural, Bangarapet, Bagepalli, Malur,...",Wisdom Bridge Consultants,0-5 Yrs
8,Senior Business Data Analyst,"Bangalore Rural, Hosur, Nelamangala, Hosakote,...",Wisdom Bridge Consultants,3-8 Yrs
9,Senior Data Analyst,Bengaluru,Nthinsight,5-6 Yrs
10,"SENIOR, DATA ANALYST",Bengaluru,Cargill,3-8 Yrs
11,Senior Data Analyst,Bengaluru,Walmart,8-12 Yrs
12,Senior Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Capco,2-7 Yrs
13,Senior Data Analyst - Cx,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Capco,3-7 Yrs
14,Senior Data Analyst - Mobile Apps,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",IDFC FIRST Bharat,9-14 Yrs
15,Senior Data Analyst,Bengaluru,Philips,3-5 Yrs
16,Senior Data Analyst,Bengaluru,One Muthoot,2-6 Yrs
17,Senior Data Analyst,Bengaluru,ANZ,3-6 Yrs
18,Senior Data Analyst,"Mumbai, Bengaluru",Tata Nexarc,4-9 Yrs
19,IAM DATA SCIENTIST /ANALYST,Bengaluru,Wood Group Pratt & Whitney Industrial Turbine ...,4-6 Yrs

In [33]:
#scrap url
url=driver.find_elements(By.XPATH,'//a[@class="title "]')
url[0:4]
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-iam-data-scientist-analyst-iote-technologies-bengaluru-4-to-6-years-300424500992
https://www.naukri.com/job-listings-tag-implementation-analyst-1st-party-data-eli-lilly-and-company-bengaluru-2-to-6-years-230524500037
https://www.naukri.com/job-listings-data-privacy-analyst-quantiphi-analytics-solutions-pvt-ltd-mumbai-bengaluru-4-to-7-years-090224501427
https://www.naukri.com/job-listings-quantitative-analyst-data-scientist-bestex-research-bengaluru-0-to-3-years-190624501036

In [34]:
# Extract data more than 1 page
all_job_title=[]
start=0
end=5
for page in range(start, end):
    title=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
    for i in title:
        all_job_title.append(i.text)
    
    #find next button
    next_buttons=driver.find_elements(By.XPATH,'/html/body/div/div/main/div[1]/div[2]/div[3]/div/a[2]/span')
    
     # Check if the next button exists
    if next_buttons:
        next_buttons[0].click()
    time.sleep(3)

In [35]:
print(len(all_job_title))

97